#cookiemunch_decline,
#cookiemunch_accept_select,
#cookiemunch_accept_selected,
#cookiemunch_accept_all {
  transition: 0.2s ease-in-out;
}

#cookiemunch_decline {
  background-color: $btn-bg-decline;
  color: $btn-text-decline;
  border: $btn-border-decline;
}

#cookiemunch_decline:hover,
#cookiemunch_decline:focus {
  background-color: $btn-bg-hvr-decline;
  color: $btn-text-decline;
}

#cookiemunch_accept_select {
  background-color: $btn-bg-accept_select;
  color: $btn-text-accept_select;
  border: $btn-border-accept_select;
}

#cookiemunch_accept_select:hover,
#cookiemunch_accept_select:focus {
  background-color: $btn-bg-hvr-accept_select;
  color: $btn-text-accept_select;
}

#cookiemunch_accept_selected {
  background-color: $btn-bg-accept_selected;
  color: $btn-text-accept_selected;
  border:$btn-border-accept_selected;
}

#cookiemunch_accept_selected:hover,
#cookiemunch_accept_selected:focus {
  background-color: $btn-bg-hvr-accept_selected;
  color: $btn-text-accept_selected;
}

#cookiemunch_accept_all {
  background-color: $btn-bg-accept_all;
  color: $btn-text-accept_all;
  border: $btn-border-accept_all;
}

#cookiemunch_accept_all:hover,
#cookiemunch_accept_all:focus {
  background-color: $btn-bg-hvr-accept_all;
  color: $btn-text-accept_all;
}

#cookiemunch_decline:focus,
#cookiemunch_accept_select,
#cookiemunch_accept_selected,
#cookiemunch_accept_all {
  outline: 0;
}

.cookiemunch_actions button {
  width: calc((100% / 3) - 5px);
  cursor: pointer;
  border: 0px solid #fff;
  border-radius: 3px;
  padding: 10px 5px;
  font-weight: bold;
  font-size: 15px;
}

.cookiemunch_actions button.width-half {
  width: calc((100% / 2) - 5px);
}

.cookiemunch_actions button.width-full {
  width: 100%;
}

#cookie_munch_element {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: fixed;
  width: 300px;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
  z-index: 99999999999999999;
  background: $main-body-bg;
  color: $main-body-text;
  border-radius: 4px;
  padding: 10px;
  box-sizing: border-box;
  display: block;
  transition: 300ms ease-in-out;
  box-shadow: $main-body-border-shadow;
}

#cookie_munch_element.closed {
  background: rgba(0, 0, 0, 0);
  left: 0px;
  bottom: 0px;
  transform: translate(0, 0);
  box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0);
}

#cookie_munch_element.closed-fully {
  background: rgba(0, 0, 0, 0);
  width: auto;
  left: 0px;
  bottom: 0px;
  transform: translate(0, 0);
  box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0);
}

@media screen and (min-width: 500px) {
  #cookie_munch_element {
    left: 10px;
    bottom: 10px;
    transform: translate(0, 0);
  }

  #cookie_munch_element.closed {
    left: 0px;
    bottom: 0px;
  }

  #cookie_munch_element.closed-fully {
    left: 0px;
    bottom: 0px;
  }
}

#cookie_munch_element .cookie_munch_title_wrap h1 {
  transition: 300ms ease-in-out;
  opacity: 1;
  font-size: 16px;
}

#cookie_munch_element.closed .cookie_munch_title_wrap h1 {
  opacity: 0;
  overflow: hidden;
  width: 0;
  height: 0;
}

#cookie_munch_element.closed-fully .cookie_munch_title_wrap h1 {
  width: 0;
  height: 0;
  overflow: hidden;
}

.cookiemunch_actions_label {
  display: block;
  margin: 10px 0 10px;
  text-align: center;
}

.cookiemunch_actions {
  display: flex;
  justify-content: space-between;
}

.cookiemunch_toggle_view {
  display: flex;
  flex-direction: column;

}

.cookiemunch_wrapper {
  overflow-y: auto;
  margin: 0;
  opacity: 0;
  transition: 0.2s ease-in-out;
  max-height:33.3333vh;
}
[data-fade-switch="true"] {
  opacity: 1;
}
#cookie_munch_element.open [data-fade-switch] {
  opacity: 0;
}
#cookie_munch_element.closed [data-fade-switch] {
  opacity: 0;
}
#cookie_munch_element.closed-fully [data-fade-switch] {
  opacity: 0;
}

@media screen and (max-height: 500px) {
  #cookie_munch_element * {
    font-size: 12px !important;
  }
}

.cookie_munch_title_wrap {
  display: flex;
  cursor: pointer;
  margin-bottom: 0px
}

#cookie_munch_element.open .cookie_munch_title_wrap,
#cookie_munch_element.open-fully .cookie_munch_title_wrap {
  cursor: default;
  pointer-events: none;
  margin-bottom: 10px
}

.cookie_munch_svg {
  width: 40px;
  margin-right: 10px;
  transition: 150ms ease-in-out;
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0));
  filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0));
}

.closed .cookie_munch_svg,
.closed-fully .cookie_munch_svg {
  width: 28px;
  -webkit-filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.7));
}

.closed-fully .cookie_munch_svg:hover {
  width: 32px;
  -webkit-filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.7));
}

.cookiemunch_switch_title_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cookiemunch_switch_title_container h2 {
  margin: 0;
  font-size: 16px;
  color: $panel-body-h2;
}

.cookiemunch_container {
  margin: 0px 0 10px;
  border: $panel-body-border;
  border-radius: 4px;
  padding: 10px;
  background-color: $panel-body-bg;
}

.cookiemunch_container p {
  margin: 5px 0 0;
  font-size: 14px;
  color: $panel-body-p;
}

.cookiemunch_container a {
  margin: 0 0;
  font-size: 14px;
  color: $panel-body-a;
}

/* checkbox */
.cookiemunch_switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  opacity: 0;
  transition: 0.3s ease-in-out;
  border: $switch-bg-border;
  border-radius: 34px;
  box-sizing: content-box;
}
[data-fade-switch="true"] .cookiemunch_switch {
  opacity: 1;
}
[data-fade-switch="false"] .cookiemunch_switch {
  opacity: 0;
  transition: 0s ease-in-out;
}

.cookiemunch_switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.cookiemunch_switch input:focus {
  outline:none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.cookiemunch_slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $switch-off-bg;
  &.cookiemunch_switch_icons {
    background-color: $switch-with-icon-off-bg;
  }
  -webkit-transition: .3s;
  transition: .3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  svg:nth-child(1) {
    // ✔
    position: relative;
    left: -26px; 
    top: -1px;  
    fill: $switch-icon-on !important; 
    stroke: $switch-icon-on;
    stroke-width: 2px;
  }
  svg:nth-child(2) {
    // ×
    top: 0px;
    left: -1px; 
    position: relative;  
    fill: $switch-icon-off !important; 
    stroke: $switch-icon-off;
    stroke-width: 2px;
  }
  svg {
    transition: .3s;
  }

}

.cookiemunch_slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: $switch-fg;
  -webkit-transition: .3s;
  transition: .3s;
}

input:checked+.cookiemunch_slider {
  background-color: $switch-on-bg;
  &.cookiemunch_switch_icons {
    background-color: $switch-with-icon-on-bg;
  }
  > svg {
    transform: translateX(26px);
  }
  
  
}

input:focus+.cookiemunch_slider {
  box-shadow: none;
}

input:checked+.cookiemunch_slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.cookiemunch_slider.cookiemunch_round {
  border-radius: 34px;
}

.cookiemunch_slider.cookiemunch_round:before {
  border-radius: 50%;
}

#cookie_munch_element .checkmark {
  width: 28px;
  height: 28px;
  -ms-transform: rotate(45deg) translate(-16px, -22px);
  /* IE 9 */
  -webkit-transform: rotate(45deg) translate(-16px, -22px);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg) translate(-16px, -22px);
  display: none;
}

#cookie_munch_element .checkmark_stem {
  position: absolute;
  width: 3px;
  height: 20px;
  background-color: $accepted-tick;
  right: 0px;
  top: 0px;
}

#cookie_munch_element .checkmark_kick {
  position: absolute;
  width: 10px;
  height: 3px;
  background-color: $accepted-tick;
  right: 0px;
  top: 18px;
}

#cookie_munch_element input:checked+.checkmark {
  display: block;
}

#cookie_munch_element .close {
  position: absolute;
  right: 3px;
  top: 3px;
  width: 24px;
  height: 24px;
  opacity: 1;
  display: none;
}

#cookie_munch_element .close:hover {
  opacity: 1;
}

#cookie_munch_element .close:before,
#cookie_munch_element .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 18px;
  width: 3px;
  background-color: $declined-times;
}

#cookie_munch_element .close:before {
  transform: rotate(45deg);
}

#cookie_munch_element .close:after {
  transform: rotate(-45deg);
}

#cookie_munch_element input:not(:checked)+.checkmark+.close {
  display: block;
}

#cookie_munch_element .close_panel {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

#cookie_munch_element.open-fully .close_panel {
  opacity: 1;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 24px;
  height: 24px;
  opacity: 1;
  padding: 23px 6px;
  cursor: pointer;
  pointer-events: none;
  pointer-events: all;
}

#cookie_munch_element.open-fully .close_panel:before,
#cookie_munch_element.open-fully .close_panel:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 18px;
  width: 3px;
  background-color: $main-body-text;
}

#cookie_munch_element.open-fully .close_panel:before {
  transform: rotate(45deg);
}

#cookie_munch_element.open-fully .close_panel:after {
  transform: rotate(-45deg);
}

/* hide_icon */
#cookie_munch_element[data-class="cookiemunch_hide_icon"] {
  opacity: 0;
}

#cookie_munch_element[data-class="cookiemunch_hide_icon"].closed {
  animation: cookie_munch_fade_out 300ms normal forwards;
}

#cookie_munch_element[data-class="cookiemunch_hide_icon"].closed-fully {
  opacity: 0;
  display: none;
}

#cookie_munch_element[data-class="cookiemunch_hide_icon"].open {
  animation: cookie_munch_fade_in 300ms normal forwards;
}

#cookie_munch_element[data-class="cookiemunch_hide_icon"].open-fully {
  opacity: 1;
  display: block;
}

#cookie_munch_element[data-class="cookiemunch_hide_icon"].open,
#cookie_munch_element[data-class="cookiemunch_hide_icon"].open-fully,
#cookie_munch_element[data-class="cookiemunch_hide_icon"].closed,
#cookie_munch_element[data-class="cookiemunch_hide_icon"].closed-fully {
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
}

@media screen and (min-width: 500px) {

  #cookie_munch_element[data-class="cookiemunch_hide_icon"].open,
  #cookie_munch_element[data-class="cookiemunch_hide_icon"].open-fully,
  #cookie_munch_element[data-class="cookiemunch_hide_icon"].closed,
  #cookie_munch_element[data-class="cookiemunch_hide_icon"].closed-fully {
    left: 10px;
    bottom: 10px;
    transform: translate(0, 0);
  }
}


@keyframes cookie_munch_fade_in {

  0%,
  50% {
    opacity: 0;
  }

  50%,
  100% {
    opacity: 1;

  }
}

@keyframes cookie_munch_fade_out {

  0%,
  50% {
    opacity: 1;
  }

  50%,
  100% {
    opacity: 0;
  }
}

.cookiemunch_wrapper_dropdown {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  cursor: pointer;
  border-bottom: $panel-dropdown-line;
  margin: 0 0 10px;
  font-weight: bold;
}

.cookiemunch_wrapper_chev::before {
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  content: '';
  display: inline-block;
  height: 0.45em;
  position: relative;
  top: 5px;
  vertical-align: top;
  width: 0.45em;
  right: 5px;
  transform: rotate(45deg);
  transition: .3s ease-in-out;
}

.cookiemunch_wrapper_chev[data-class-chev-seleted="true"]::before {
  top: 2px;
  right: 5px;
  transform: rotate(135deg);
}

/* scroll bar < */
.cookiemunch_wrapper {
  padding-left: 5px;
  padding-right: 5px;
  margin-left: -5px;
  margin-right: -5px;
}

.cookiemunch_wrapper::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: $scrollbar-track;
}

.cookiemunch_wrapper::-webkit-scrollbar {
  width: 6px;
  background-color: $scrollbar-bg;
}

.cookiemunch_wrapper::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 0px rgba(0, 0, 0, .3);
  -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, .3);
  background-color: $scrollbar-thumb;
}

#cookie_munch_element {
  max-height: calc(100vh - 20px);
  overflow-y: auto;
  overflow-x: hidden;
  margin-right: -9px;
  padding-right: 10px;
}

#cookie_munch_element::-webkit-scrollbar {
  width: 12px;
  background-color: $scrollbar-bg; 
  border: solid 3px transparent;
  box-sizing: content-box;
  border-radius: 10px;
}

#cookie_munch_element::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: $scrollbar-track;
  border: solid 3px $main-body-bg;
}

#cookie_munch_element::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 0px rgba(0, 0, 0, .3);
  -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, .3);
  background-color: $scrollbar-thumb;
  border: solid 3px $main-body-bg;
}

/* > */

#cookiemunch_cookies_required {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: $required-bg;
  user-select: none;
  transition: 0.3s ease-in-out;
  z-index: 9999999999999999999;
}

#cookiemunch_cookies_required.accepted {
  background: transparentize($required-bg-color, 1);
}

body.cookiemunch_scroll_block {
  overflow: hidden;
  height: 100vh;
}